//variables

$hover-color: #9ba1a7;
$hover-color2: #4b5763;

// hover

.promo__scroll-down:hover {
  transform: scale(1.15);
}

.product:hover .product__image {
  opacity: 0.7;
}

.product:hover {
  transform: scale(0.975);
}

.contacts__button:hover {
  background-color: $hover-color;
}

.about-wrapper:hover {
  border-color: $hover-color;
}

.about-wrapper:hover .about__title {
  color: $hover-color;
}

.services-wrapper:hover,
.services-wrapper:hover .services__title::before,
.services-wrapper:hover .services__title::after {
  border-color: $hover-color2;
}

.services-wrapper:hover .services__title {
  color: $hover-color2;
}

.activities-wrapper:hover {
  border-color: $hover-color;
}

.activities-wrapper:hover .activities__title {
  color: $hover-color;
}

.contacts-wrapper:hover {
  border-color: $hover-color;
}

.contacts-wrapper:hover .contacts__title {
  color: $hover-color;
}

.activity__image:hover ~ .activity__title {
  color: $hover-color;
}

.activity .activity__image:hover {
  fill: $hover-color;
}

//transition
.promo__scroll-down {
  cursor: pointer;
  transition: transform 400ms ease-in-out;
}

.product {
  transition: transform 500ms ease-in-out;
}

.activity .activity__image {
  transition: fill 400ms ease-in-out;
}

.activity__title {
  transition: color 400ms ease-in-out;
}

.contacts__title {
  transition: color 700ms ease-in-out;
}

.product__image {
  transition: opacity 500ms ease-in-out;
}

.about-wrapper {
  transition: border-color 700ms ease-in-out;
}

.about__title {
  transition: color 700ms ease-in-out;
}

.services-wrapper,
.services__title::before,
.services__title::after {
  transition: border-color 700ms ease-in-out;
}

.services__title {
  transition: color 700ms ease-in-out;
}

.activities-wrapper {
  transition: border-color 700ms ease-in-out;
}

.activities__title {
  transition: color 700ms ease-in-out;
}

.contacts-wrapper {
  transition: border-color 700ms ease-in-out;
}

.contacts__button {
  transition: background-color 0.5s ease-in-out;
}

//animation
.icon-scroll {
  width: 1.5rem;
  height: 2.25rem;
  
  position: relative;

  border-radius: 1.5rem;

  box-shadow: inset 0 0 0 1px #fff;
}

.icon-scroll:before {
  content: "";
  
  width: 0.25rem;
  height: 0.25rem;
  margin-left: -0.125rem;
  
  position: absolute;
  left: 50%;
  top: 0.5rem;


  background: #fff;
  border-radius: 0.125rem;
  
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;

    transform: translateY(1.45125rem);
  }
}
